{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <h1>{{title}}</h1>
        <hr>
        <form method="POST">
            <div class="mb-3">
              <label for="name" class="form-label">Team Name</label>
              <input value="{{team.name}}" type="text" class="form-control" id="name" name="name">              
            </div>
            <div class="mb-3">
                <label for="city" class="form-label">City</label>
                <input value="{{team.city}}" type="text" class="form-control" id="city" name="city">              
            </div>
            <button type="submit" class="btn btn-outline-success">Update Team</button>
        </form>
    </div>
{% endblock %}


